<h1>Add purchases</h1>

<form action="/purchases/add" method="POST">
	<div "container">
	<div class="product">
 	 <label for="product">Product</label>

  <select class="form-text" class="product" name="prod_id">
 	 {{#products}}
 		 <option value="{{id}}">{{description}}</option>
 	 {{/products}}
  </select>
  </div>

	<div>
		<label for="date">Date</label>
		<input class="form-text" type="text" name="purchase_date" value="{{purchase_date}}">
	</div>

  <div>
		<label for="quantity">Quantity</label>
		<input class="form-text" type="number" name="quantity" value="{{quantity}}">
  </div>

  <div>
		<label for="cost">Price</label>
		<input class="form-text" type="text" name="cost" value="{{cost}}">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
