
<!-- {{#if is_admin}}
<a href="/categories/add" type="button" class="btn btn-primary">add category</a>
{{else}}
  <a></a>
{{/if}} -->

<!-- <form action="/categories/search/" method="post">
  <div class="form-group pull-right">
    <input type="text" name="search_value" class="search form-control" placeholder="search">
    <input type="submit" class="btn btn-primary">
 </div>
</form> -->


<div>
<table class="table table-bordered">
<thead>
  <tr>
    <th>categories</th>
  </tr>
</thead>
<tbody>
  {{#categories}}
    <tr>
      <td>{{category}}</td>

        {{#if ../is_admin}}
            <td><a href="/categories/edit/{{id}}" type="button" class="btn btn-primary">Edit</a></td>
            <td><a href="/categories/delete/{{id}}" type="button" class="btn btn-primary">Delete</a></td>
          <td></td>
        {{else}}
        <!-- <td></td> -->
        {{/if}}
    </tr>
  {{/categories}}
</tbody>
</table>
</div>
