<h1>Edit purchases</h1>

<form action="/sales/update/{{data.id}}" method="POST">

  <div class="description">
    <label for="description">Product</label>

    <select class="text" name="prod_id">
      {{#products}}
        <option {{selected}} value="{{id}}">{{description}}</option>
      {{/products}}
    </select>

  </div>

	<div>
		<label for="date">Date</label>
		<input type="text" step="any" name="date" value="{{data.purchase_date}}">
	</div>

	<div>
		<label for="price">cost</label>
		<input type="text" step="any" name="price" value="{{data.cost}}">
	</div>

	<div>
		<label for="quantity">Quantity</label>
		<input type="number" step="any" name="quantity" value="{{data.quantity}}">
	</div>

	<input type="submit">
</form>
