<h1>Edit sales</h1>

<form  action="/sales/update/{{data.id}}" method="POST">
<div class="container">

  <div class="description">
    <label for="description">Product</label>

    <select class="form-text" class="text" name="prod_id">
      {{#products}}
        <option {{selected}} value="{{id}}">{{description}}</option>
      {{/products}}
    </select>

  </div>

	<div >
		<label for="date">Date</label>
		<input class="form-text" type="text" step="any" name="selling_date" value="{{data.selling_date}}">
	</div>

	<div >
		<label for="price">Price</label>
		<input class="form-text" type="text" step="any" name="selling_prices" value="{{data.selling_prices}}">
	</div>

	<div >
		<label for="quantity">Quantity</label>
		<input class="form-text" type="number" step="any" name="quantity" value="{{data.quantity}}">
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
  <!-- <td><a href="/sales/edit/{{sales_id}}" type="button" class="btn btn-primary">Edit</a></td> -->
</div>
</form>
