<h1>Products</h1>

{{#if is_admin}}
<a href="/products/add" type="button" class="btn btn-primary">Add Product</a>
{{else}}
  <td></td>
{{/if}}

 <form action="/products/search/" method="post">
   <div class="form-group pull-right">
     <input type="text" id="searchBarProducts" name="search_value" class="search form-control" placeholder="search">
     <input type="submit" class="btn btn-primary">
  </div>
</form>

<div class="container">
  <table id="productsSearch" class="table table-bordered">
    <thead>
      <tr>
        <th>product</th>
        <th>category</th>
      </tr>
    </thead>

    <tbody>
      {{#products}}
        <tr>
          <td>{{description}}</td>
          <td>{{category}}</td>

          {{#if ../is_admin}}
          <td><a href="/products/edit/{{product_id}}" type="button" class="btn btn-primary">Edit</a></td>
          <td><a href="/products/delete/{{product_id}}" type="button" class="btn btn-primary">Delete</a></td>
          {{else}}
            <td></td>
          {{/if}}
        </tr>
      {{/products}}
  </tbody>
 </table>
</div>

<script>
//search using ajax
//
// jQuery('#searchBarCategories').submit( function(event){
//
//   // Stop the form from submitting normally
//   event.preventDefault();
//
//   // Get the search term from the DOM
//   var search_value = jQuery('#search_value').val();
//
//   // use jQuery to POST the data to the /search URL
//   jQuery.post('/categories/search', {search_value: search_value}, function(result){
//     console.log(result);
//   });
//
// });
$(document).ready(function() {
   $("#searchBarProducts").keyup(function() {
     var search_value = $("#searchBarProducts").val();
     $.post("/products/search", {search_value : search_value} , function(results) {
       $("#productsSearch").html(results)
     });
   });
 });
</script>
