<h1>Purchases</h1>

{{#if is_admin}}
<a href="/purchases/add" type="button" class="btn btn-primary">Add purchase</a>
{{else}}
  <td></td>
{{/if}}

<form action="/purchases/search/" method="post">
  <div class="form-group pull-right">
    <input type="text" id="searchBarPurchases" name="search_value" class="search form-control" placeholder="search">
    <input type="submit" class="btn btn-primary">
 </div>
</form>

<div class="container">
  <table id="purchasesSearch" class="table table-bordered">
    <thead>
      <tr>
        <th>purchase_date</th>
        <th>quantity</th>
        <th>cost</th>
        <th>product</th>
      </tr>
    </thead>

    <tbody>
    {{#purchases}}
        <tr>
          <td>{{purchase_date}}</td>
          <td>{{quantity}}
          <td>{{cost}}</td>
          <td>{{description}}</td>

          {{#if ../is_admin}}
          <td><a href="/purchases/edit/{{purcahses_id}}" type="button" class="btn btn-primary">Edit</a></td>
          <td><a href="/purchases/delete/{{purcahses_id}}" type="button" class="btn btn-primary">Delete</a></td>
          {{else}}
            <td></td>
          {{/if}}
        </tr>
    {{/purchases}}
    </tbody>
  </table>
</div>

<script>
//search using ajax
//
// jQuery('#searchBarCategories').submit( function(event){
//
//   // Stop the form from submitting normally
//   event.preventDefault();
//
//   // Get the search term from the DOM
//   var search_value = jQuery('#search_value').val();
//
//   // use jQuery to POST the data to the /search URL
//   jQuery.post('/categories/search', {search_value: search_value}, function(result){
//     console.log(result);
//   });
//
// });
$(document).ready(function() {
   $("#searchBarPurchases").keyup(function() {
     var search_value = $("#searchBarPurchases").val();
     $.post("/purchases/search", {search_value : search_value} , function(results) {
       $("#purchasesSearch").html(results)
     });
   });
 });
</script>
