<h1>Purchases</h1>

<a href="/purchases/add" type="button" class="btn btn-primary">Add purchase</a>


<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>purchase_date</th>
        <th>quantity</th>
        <th>cost</th>
        <th>product</th>
      </tr>
    </thead>

    <tbody>
    {{#purchases}}
        <tr>
          <td>{{purchase_date}}</td>
          <td>{{quantity}}
          <td>{{cost}}</td>
          <td>{{description}}</td>
          <td><a href="/purchases/edit/{{purcahses_id}}" type="button" class="btn btn-primary">Edit</a></td>
          <td><a href="/purchases/delete/{{purcahses_id}}" type="button" class="btn btn-primary">Delete</a></td>
        </tr>
    {{/purchases}}
    </tbody>
  </table>
</div>
