<h1>Sales</h1>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>id</th>
        <th>selling_date</th>
        <th>quantity</th>
        <th>selling_prices</th>
        <th>prod_id</th>
      </tr>
    </thead>
    <tbody>
      {{#sales}}
        <tr>
          <td>{{id}}</td>
          <td>{{selling_date}}</td>
          <td>{{quantity}}</td>
          <td>{{selling_prices}}</td>
          <td>{{prod_id}}</td>
        </tr>
        {{/sales}}
      </tbody>
    </table>
