<h1>Sales</h1>

{{#if is_admin}}
<a href="/sales/add" type="button" class="btn btn-primary">Add sales</a>
{{else}}
  <td></td>
{{/if}}

<form action="/sales/search/" method="post">
  <div class="form-group pull-right">
    <input type="text" id="searchBarSales" name="search_value" class="search form-control" placeholder="search">
    <input type="submit" class="btn btn-primary">
 </div>
</form>


<div class="container">
  <table id="salesSearch" class="table table-bordered">
    <thead>
      <tr>
        <th>selling_date</th>
        <th>quantity</th>
        <th>selling_prices</th>
        <th>product</th>
      </tr>
    </thead>

    <tbody>
        {{#sales}}
        <tr>
          <td>{{selling_date}}</td>
          <td>{{quantity}}</td>
          <td>{{selling_prices}}</td>
          <td>{{description}}</td>

          {{#if ../is_admin}}
          <td><a href="/sales/edit/{{sales_id}}" type="button" class="btn btn-primary">Edit</a></td>
          <td><a href="/sales/delete/{{sales_id}}" type="button" class="btn btn-primary">Delete</a></td>
          {{else}}
            <td></td>
          {{/if}}
        </tr>
        {{/sales}}
      </tbody>
    </table>
</div>

<script>
//search using ajax
$(document).ready(function() {
   $("#searchBarSales").keyup(function() {
     var search_value = $("#searchBarSales").val();
     $.post("/sales/search", {search_value : search_value} , function(results) {
       $("#salesSearch").html(results)
     });
   });
 });
</script>
