<h1>Users</h1>

{{#if is_admin}}
<a href="/users/add" type="button" class="btn btn-primary">add users</a>
{{else}}
  <td></td>
{{/if}}


<div class="container">

  <table class="table table-bordered">
  <thead>
    <tr>
      <th>username</th>
      <th>password</th>
      <!-- <th>email</th> -->
    </tr>
  </thead>

  <tbody>
    {{#users}}
      <tr>
        <td>{{username}}</td>
        <td>{{password}}</td>
        <!-- <td>{{email}}</td> -->

        {{#if ../is_admin}}
        <td><a href="/users/edit/{{id}}" type="button" class="btn btn-primary">Edit</a></td>
        <td><a href="/users/delete/{{id}}" type="button" class="btn btn-primary">Delete</a></td>
        {{else}}
          <td></td>
        {{/if}}
      </tr>
    {{/users}}
  </tbody>
  </table>

</div>
